*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: beige;
}
a{
    text-decoration: none;
    color: yellow;
}
.fa-user{
    border: 2px solid yellow;
    border-radius: 100%;
    padding: 14px;
}
.fa-cart-shopping{
    border: 2px solid yellow;
    border-radius: 80%;
    padding: 14px;
}
header{
    display: flex;
    height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 5px;
}
nav a{
    font-weight: 600;
    padding-right: 20px;
}
nav a:hover{
    color: white;
}
.envio{
    background-color: yellow;
    border: 1px solid #000;
    text-align: center;
}
.section{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.marca{
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0px 50px 0px;
    font-size: 40px;
    font-family: "DIN Next LT Pro Bold.otf";
}
.caja{
    height: 200px;
    width: 200px;
    color: yellow;
    border: 2px solid #000;
    font-size: 28px;
    line-height: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    transition: height 1.3s;
}
.caja:hover{
    height: 250px;
}
.caja1{
    background-image: url(img/nike.png);
    background-size: cover;
    background-position: center;
}
.caja2{
    background-image: url(img/addias.png);
    background-size: cover;
    background-position: center;
}
.caja3{
    background-image: url(img/puma.png);
    background-size: cover;
    background-position: center;
}
.caja4{
    background-image: url(img/umbro.jpg);
    background-size: cover;
    background-position: center;
}
.caja5{
    background-image: url(img/fila.jpg);
    background-size: cover;
    background-position: center;
}
.caja6{
    background-image: url(img/reebok.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 40px 0 10px 0;
    font-size: 30px;
}
.box img{
    width: 320px;
    height: 360px;
    border-radius: 30px;
}
.box{
    margin: 50px;
}
.box p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.sucursales{
    text-align: center;
    margin: 20px 0 40px 0;
}
.map{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.grid{
    display: grid;
    background-color: white;
    width: 70%;
    height: 1400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    margin: auto auto 80px auto;
}
.grid img{
    width: 100%;
    height: 100%;
}
.img1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.img2{
    grid-column: 1/3;
    grid-row: 2/3;
}
footer{
    height: auto;
    width: 100%;
    background-color: rgb(73, 73, 73);
    line-height: 3;
    text-align: center;
    color: #fff;
}
footer i{
    color: #fff;
    letter-spacing: 15px;
}
.subir{
    height: 40px;
    width: 40px;
    background-color: yellow;
    border: 5px solid #000;
    color: #000;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px #333;
}
@media only screen and (min-width:360px) and (max-width:479px){
    header{
        height: 300px;
    }
    .envio{
        font-size: 18px;
    }
    .fa-user{
        margin-top: 10px;
    }
    .fa-cart-shopping{
        margin-top: 10px;
    }
    a{
        font-size: 20px;
        margin-left: 24px;
    }
    iframe{
        width: 350px;
        height: 350px;
    }
    .grid{
        display: grid;
        width: 80%;
        height: 700px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin: auto auto 270px auto;
    }
    .img1{
        grid-column: 1/5;
    }
    .img2{
        grid-column: 1/5;
        grid-row: 3/4;
    }
    .img3{
        grid-column: 1/3;
    }
    .img4{
        grid-column: 3/5;
    }
    .img5{
        grid-column: 1/3;
    }
    .img6{
        grid-column: 3/5;
    }
    .img7{
        grid-column: 1/5;
    }
    footer p{
        font-size: 20px;
    }
}
@media only screen and (min-width:424px) and (max-width:479px){
    a{
        font-size: 25px;
    }
    .fa-user{
        margin-top: 20px;
    }
    iframe{
        width: 410px;
        height: 380px;
    }
    .grid{
        margin: auto auto 400px auto;
    }
}
@media only screen and (min-width:480px) and (max-width:599px){
    header{
        height: 300px;
    }
    a{
        font-size: 30px;
        margin-left: 28px;
    }
    .envio{
        font-size: 22px;
    }
    .nombreEmpresa{
        font-size: 42px;
    }
    iframe{
        width: 460px;
        height: 400px;
    }
    .grid{
        display: grid;
        width: 85%;
        height: 1000px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin: auto auto 270px auto;
    }
    .fa-user{
        margin-top: 20px;
    }
    .img1{
        grid-column: 1/5;
    }
    .img2{
        grid-column: 1/5;
        grid-row: 3/4;
    }
    .img3{
        grid-column: 1/3;
    }
    .img4{
        grid-column: 3/5;
    }
    .img5{
        grid-column: 1/3;
    }
    .img6{
        grid-column: 3/5;
    }
    .img7{
        grid-column: 1/5;
    }
}
@media only screen and (min-width:528px) and (max-width:599px){
    a{
        margin-left: 44px;
    }
    .grid{
        height: 1200px;
    }
}
@media only screen and (min-width:600px) and (max-width:768px){
    header{
        height: 300px;
    }
    a{
        font-size: 30px;
        margin-left: 34px;
    }
    .envio{
        font-size: 22px;
    }
    iframe{
        width: 460px;
        height: 400px;
    }
    .grid{
        display: grid;
        width: 85%;
        height: 1300px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin: auto auto 270px auto;
    }
    .fa-user{
        margin-top: 20px;
    }
    .img1{
        grid-column: 1/5;
    }
    .img2{
        grid-column: 1/5;
        grid-row: 3/4;
    }
    .img3{
        grid-column: 1/3;
    }
    .img4{
        grid-column: 3/5;
    }
    .img5{
        grid-column: 1/3;
    }
    .img6{
        grid-column: 3/5;
    }
    .img7{
        grid-column: 1/5;
    }
    .nombreEmpresa{
        font-size: 60px;
    }
    footer p{
        font-size: 24px;
    }
}
@media only screen and (min-width:612px) and (max-width:768px){
    .grid{
        height: 1350px;
    }
    a{
        margin-left: 50px;
    }
}
@media only screen and (min-width:670px) and (max-width:768px){
    .grid{
        height: 1500px;
    }
    a{
        margin-left: 64px;
    }
    iframe{
        height: 600px;
        width: 450x;
    }
}
@media only screen and (min-width:720px) and (max-width:768px){
    .nombreEmpresa{
        font-size: 64px;
    }
    a{
        margin-left: 80px;
    }
    .grid{
        height: 1600px;
    }
}